.all-items{
    /* border: 1px solid red; */
    margin-bottom: 10px;
    margin-top: 30px;
}

.all-items ul{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-evenly;
    width: 70%;
    margin: auto;
    padding: auto;
    flex-wrap: wrap;

}
.all-items ul li{

 list-style: none;
 margin: 15px;


}
.underline{
    /* display: none; */
   /* text-decoration: none; */
   text-decoration: none;
   /* text-decoration-color: orange;
   text-decoration-thickness: 2px; */

}

.underline:hover{
    color: darkorange;
    text-decoration: underline;
    text-decoration-color: orange;
    text-decoration-thickness: 2px;
}

/* .sofa-items:hover > ul .underline{
    text-decoration: underline;
    text-decoration-color: orange;
    text-decoration-thickness: 2px;

}
.sofa-items:hover{
    color: red;
} */


.furniture-data{

    display: flex;
    justify-content: space-between;
    gap: 20px;


}
#div1 {
    width: 20%;
    height: auto;
    background-color:whitesmoke;
    position: sticky;
    top: 10px;
    left: 10px;
    padding: 20px;


}

#div1 p {
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
        'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: red;
}

#div1 select {
    width: 100%;
    padding: 10px 0px;
}

#div1 h1 {
    font-size: 6.0rem;
    margin-top: 10px;
    text-align: center;
}

#div2 {
   
    width: 80%;
    margin-top: 0px;
    /* border: 1px solid rebeccapurple; */


}


.furniture-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: auto;
    gap: 20px;
    
    

}

@media all and (min-width: 300px) and (max-width: 700px) {

    .furniture-container{
        
        grid-template-columns: repeat(2,1fr);
        
        
        
    
    }
}

