 .navbar{
     
    border: 1px solid green;
    margin-bottom: 20px;
 }

.container{
    display: flex;
    border: 1px solid green;
    
}
.div-1{
    width: 40%;
    border: 1px solid black;
    
}
.div-2{
    width: 40%;
    border: 1px solid chartreuse;
}