body{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar{
    
    /* border: 10px solid red; */
    position: sticky;
    width: auto;
    top: 0%;
    z-index: 1;
  background-color: white;   

}
.navbar>.first_navbar{
  display: flex;
  justify-content: space-between;
}
.navbar>.first_navbar #ul1{
   /* border: 1px solid red; */
   list-style: none;
   
  }
  .navbar>.first_navbar #ul1 img{
    object-fit: cover;
    width: 100%;
    
   }
  
  .navbar>.first_navbar #ul2{
    /* border: 1px solid red; */
    width: 50%;
    padding: 15px;
    list-style: none;


   }
   .navbar input{
    width: 100%;
    height: max(30px);
    /* height: 50%; */
   }
   

.navbar>.first_navbar>#ul3{
    display: flex;
    justify-content: space-between;
    padding: 0px;
    /* border: 1px solid green; */
    width: 30%;
    margin-right: 48px;
    flex-wrap: wrap;
    list-style: none;

  }
  .navbar>.first_navbar>#ul3 #help,#sign,#heart,#cart{

    background-color: white;
    padding: 8px 20px 8px 20px;
    border-radius:123px;
    /* border: 2.5px solid rgb(49, 49, 49); */
    font-weight: 700;
    font-size: 16px;
    margin: 10px;

  }
  .navbar>.first_navbar>#ul3 #help:hover,#sign:hover,#heart:hover,#cart:hover{

   background-color: orange;
   

  }




  


.decor-items{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    flex-wrap: wrap;
    
    padding: 10px;
}
/* .decor-items>.furniture:hover,.home-decor:hover,.lamps_lights:hover,.kitchen_dinning:hover,.furnishings:hover,.matress:hover
,.appliances:hover,.pets:hover,.modular:hover,.gifts:hover{
    
} */

.decor-items>.furniture> .furniture-underline,.home-decor>.home-decor-underline,.lamps_lights>.lamps_lights-underline
,.kitchen_dinning>.kitchen_dinning-underline,.furnishings>.furnishings-underline,.matress>.matress-underline
,.appliances>.appliances-underline,.pets>.pets-underline,.modular>.modular-underline,.gifts>.gifts-underline{
    text-decoration: none;
}
.decor-items>.furniture> .furniture-underline:hover,.home-decor>.home-decor-underline:hover,.lamps_lights>.lamps_lights-underline:hover
,.kitchen_dinning>.kitchen_dinning-underline:hover,.furnishings>.furnishings-underline:hover,.matress>.matress-underline:hover
,.appliances>.appliances-underline:hover,.pets>.pets-underline:hover,.modular>.modular-underline:hover,.gifts>.gifts-underline:hover{
    
    text-decoration: underline;
    text-decoration-color: orange;
    text-decoration-thickness: 2px;
}

.decor-items>.furniture>.dropdown-furniture{
    display: flex;
    justify-content: space-between;
    width: 100%;
  
    position: absolute;
    left: 1;
    z-index: 1;
    background-color:whitesmoke;
    font-size: 12px;
    display: none;
    flex-wrap: wrap;

   
}

.decor-items>.home-decor>.dropdown-home-decor{
    display: flex;
    justify-content: space-between;
    width: 100%;
 
    position: absolute;
    left: 1;
    z-index: 1;
    background-color:whitesmoke;
    font-size: 12px;
    display: none;
    flex-wrap: wrap;
   

   

}
.decor-items>.home-decor>.dropdown-home-decor ul{
   
list-style: none;
   
}

.decor-items>.lamps_lights>.dropdown-lamps{
    display: flex;
    justify-content: space-between;
    width: 100%;
    
    position: absolute;
    left: 1;
    z-index: 1;
    background-color:whitesmoke;
    font-size: 12px;
    display: none;
    flex-wrap: wrap;
   
}

.decor-items>.lamps_lights>.dropdown-lamps ul{
   
    list-style: none;
       
    }


.decor-items>.kitchen_dinning>.dropdown-kitchen{
    display: flex;
    justify-content: space-between;
    width: 100%;
  
    position: absolute;
    left: 1;
    z-index: 1;
    background-color:whitesmoke;
    font-size: 12px;
    display: none;
    flex-wrap: wrap;
   
}

.decor-items>.kitchen_dinning>.dropdown-kitchen ul{
   
    list-style: none;
           
       
    }
    
#a{
    text-decoration: none;
}

    .decor-items>.kitchen_dinning:hover .dropdown-kitchen{
        display:flex;
      
     }
     



.decor-items>.furniture:hover .dropdown-furniture{
   display:flex;
 
}

.decor-items>.home-decor:hover .dropdown-home-decor{
        display: flex;
}

.decor-items>.lamps_lights:hover .dropdown-lamps{
    display: flex;
}





.decor-items>.furniture>.dropdown-furniture ul>li{
  
    /* display: none; */
   list-style: none;

}

.decor-items li:hover{
    color: orange;
}









.top-section-divs{

    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
    width: 90%;
 
    margin: auto;
    margin-top: 25px;


  
}
.top-section-divs> .slider-div{

  
      /* border: 1px solid black; */
      width: 70%;
      object-fit:cover;
    
}

/* .top-section-divs> .slider-div img{

    object-fit:fill;
} */
.top-section-divs> .static-div{

  
    /* border: 1px solid black; */
    width: 28%;
   object-fit: cover;
   
}

.offers-div{

    /* border: 2px solid red; */
    /* height: max(100px); */
    max-height: 100px;
    width: 90%;
    margin: auto;
    margin-top: 20px;

}
/* *shop by rooms */
#shop-by-room{
    text-align: center;
}

.shop-by-room{

      display: flex;
      justify-content: space-between;
      /* border: 1px solid salmon; */
      width: 90%;
      margin: auto;
      margin-bottom: 10px;
     
      flex-wrap: wrap;
}
.shop-by-room>div{

    width: 24%;
    /* border: 1px solid green; */
}

.shop-by-room button{
    padding: 4px;
    margin-left: 25%;
    font-size: 16px;
    font-weight: 400;
    background-color: white;
    border: none;
}

/* *what the fry deals section */

#what-the-deals{
    margin-left: 5%;
}

.fry-deals{

      display: flex;
      justify-content: space-between;
      /* border: 1px solid salmon; */
      width: 90%;
      margin: auto;
     
      margin-top: 0%;
      margin-bottom: 10px;

}

.fry-deals>div{
    width: 24%;
    /* border: 1px solid green; */
}

/* *trends in furniture */

#trend{
    margin-left: 5%;
}
.trends-in{

    display: flex;
    justify-content: space-between;
    /* border: 1px solid salmon; */
    width: 90%;
    margin: auto;
   


}
.trends-in>div{
      width: 32%;
    /* border: 1px solid green; */
}

/* * new arrivals */
#new-arrivals{
    margin-left: 5%;
}

.new-arrivals{


    display: flex;
    justify-content: space-between;
    /* border: 1px solid salmon; */
    width: 90%;
    margin: auto;
  


}
.new-arrivals>div{
      width: 24%;
    /* border: 1px solid green; */
}

/* * get spring ready*/
#spring{
    margin-left: 5%;
}
.spring-ready{

    display: flex;
    justify-content: space-between;
    /* border: 1px solid salmon; */
    width: 90%;
    margin: auto;
 


}
.spring-ready>div{
      width: 33%;
    /* border: 1px solid green; */
}

/* *top brands on design and decor */
#brands-on-design_decor{
    margin-left: 5%;
}
.brands-on-design_decor{

    display: flex;
    justify-content: space-between;
    /* border: 1px solid salmon; */
    width: 90%;
    margin: auto;



}
.brands-on-design_decor>div{
      width: 24%;
    /* border: 1px solid green; */
}


/* * customer speaks*/
#customer-speaks{
    margin-left: 5%;
}
.customer-speaks{

    display: flex;
    justify-content: space-between;
    /* border: 1px solid salmon; */
    width: 90%;
    margin: auto;
   


}
.customer-speaks>div{
      width: 33%;
    /* border: 1px solid green; */
}


/* * recommended for your*/
#recommended-for{
    margin-left: 5%;
}

.recommended-for{

    display: flex;
    justify-content: space-between;
    /* border: 1px solid salmon; */
    width: 90%;
    margin: auto;
   


}
.recommended-for>div{
      width: 16%;
    /* border: 1px solid green; */
}

/* *footer section */

footer{
    background-color: whitesmoke;
}

footer>.div-1{

     /* border: 1px solid red; */
     display: flex;
     justify-content: space-between;
     height: auto;
     width: 90%;
     margin: auto;
     flex-wrap: wrap;

}
footer>.div-1>div{

    width: 24%;
    /* border: 1px solid red; */
    margin-top: 5%;
}
footer>.div-1>.div-11>ul li{
    list-style: none;
    line-height: 250%;
}
footer>.div-1>.div-12>ul li{
    list-style: none;
    line-height: 250%;
}
footer>.div-1>.div-13>ul li{
    list-style: none;
    line-height: 250%;
}


.div-2{

    /* border: 1px solid green; */
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 20px;
    flex-wrap: wrap;
}
.div-2>div{
    width: 32%;


}
.div-2 p{
    font-size: 14px;
}

.last-section{
       border-top: 1px solid grey;
    width: 90%;
    margin: auto;
    margin-top: 10px;
   
    display: flex;
    justify-content: space-between;
}

.we-accept{
    /* border: 1px solid red; */
    width: 49%;
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */

}
.we-accept>div{
    width: 12%;
    margin-top: 20px;
}
.follow-us{
    /* border: 1px solid red; */
    width: 49%;
}
.follow-us>ul{
    display: flex;

}
.follow-us>ul li{
    list-style: none;
}

@media all and (min-width: 300px) and (max-width: 700px) {

    .navbar> .first_navbar{
        flex-direction: column;
        margin: 0px;
        padding: 0px;
    }
  

    .decor-items{
        
        flex-direction: column;
        padding: 10px
    }

    .shop-by-room{

   flex-direction: column;
     
       
  }
  .shop-by-room>div{

    width: 100%;
      
        
   }

   .fry-deals{

    flex-direction: column;

}
.fry-deals>div{
  width: 100%;

}
  
.we-accept{
   flex-direction: column;
   flex-wrap: wrap;
   width: 70%;
   /* padding-left: 50px; */

}
.last-section{
    margin: 30px;
}

.we-accept>div{
  
    width: 40%;
 
 }

 .follow-us>ul{
   flex-direction: column;
   


}
.follow-us>ul li{ 
 padding: 15px;
 width: 90%;
 }

 .trends-in{

    flex-direction: column;
    width: 100%;
}
.trends-in>div{

    flex-direction: column;
    width: 90%;
}

.new-arrivals{

    flex-direction: column;

}
.new-arrivals>div{
    width: 100%;

}

.spring-ready{

    flex-direction: column;

}

.spring-ready>div{
width: 90%;


}

.brands-on-design_decor{
  flex-direction: column;

}
.brands-on-design_decor>div{
  width: 90%;

  
  }

.customer-speaks{
   flex-direction: column;
}

.customer-speaks>div{
    width: 90%;
 }

 .recommended-for{
flex-direction: column;
}

.recommended-for>div{
    width: 90%;
    }

    footer>.div-1{

        /* border: 1px solid red; */
       flex-direction: column;
   }

   footer>.div-1>div{

    width: 90%;
}

footer>.div-2{

    /* border: 1px solid red; */
   flex-direction: column;
}

footer>.div-2>div{

         width: 90%;


  }

  .navbar{
    
    /* border: 10px solid red; */
    position: relative;
    /* width: auto;
    top: 0%;
    z-index: 1;
  background-color: white;    */

}

}